*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

@media (max-width:768px) and (min-width:375px)
{
    #all{
        width: 100%;
        height: 667px;
    }
    nav{
        width: 100%;
        height: 50px;
        position: relative;
        background-color: blue;
        padding: 10px;
    }
    #group{
        width: 200px;
        display: flex;
        justify-content: space-between;
    }
    .group{
        
        position: absolute;
        background-color: white;
         
        top: 18px;
        right: 10px;
        float: right;
    }
    #logo{
        width: 30px;
        height: 30px;
        background-color: red;
        position: absolute;
        top: 10px;
        left: 15px;
        
    }
    .logo-img{
        height: 30px;
    }
    #content{
        width: 100%;
        float: left;
        height: 100%;
        background-color: red;
        display: flex;
        
        align-items: center;
        
    }
    #ABC{
       padding: 2%;
    }
    #A{
        background-color: white;       
        width: 100%;
        height: 300px;
        float: left;
        margin-bottom: 5px;
    }
    #B{
        background-color: white;
        width: calc(50% - 5px);
        height: 300px;
        clear: left;
        float: left;
        margin-right: 5px;
    }
    #C{
        background-color: white;
        width: 50%;
        height: 300px;
        float: left;
    }
    #A .img{
        width: 100%;
        height: 300px;
    }
    .img{
        width: 100%;
        height: 300px;
        background-size: cover;
    }
    #B .img:hover{
        transform: scale(1.5);
        transition: 1s;
    }
    #C .img:hover{
        transform: scale(1.5);
        transition: 1s;
    }
    #A .img:hover{
        -webkit-animation-duration: 3s;
        -moz-animation-duration: 3s;
        -webkit-animation-name: silder;
        -moz-animation-name: silder;
        
    }
    @-webkit-keyframes silder {
        from {           
            bottom: 100%;
            position: absolute;
        }
      
        to {
            bottom: 0; 
        }
      }
      
      @-moz-keyframes silder {
        from {
            bottom: 100%;
            position: absolute;
        }
      
        to {
            bottom: 0;
        }
      }
}
